h1 {
  text-align: center;
}
.DatosPersonales {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DatosPersonales h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.DatosPersonales h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.DatosPersonales .contact-info ul {
  list-style: none;
  padding: 0;
}

.DatosPersonales .contact-info li {
  font-size: 16px;
  line-height: 1.6;
}

.DatosPersonales .contact-info strong {
  font-weight: bold;
  margin-right: 5px;
}
.ExperienciaLaboral {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ExperienciaLaboral h2,
.ExperienciaLaboral h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ExperienciaLaboral ul {
  list-style-type: none;
  padding: 0;
}

.ExperienciaLaboral li {
  font-size: 16px;
  line-height: 1.6;
}

.ExperienciaLaboral a {
  color: #007bff;
  text-decoration: none;
}

.ExperienciaLaboral a:hover {
  text-decoration: underline;
}
.ExperienciaLaboral {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ExperienciaLaboral p {
  margin: 10px 0;}



.Educacion {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Educacion h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Educacion h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.Educacion .educacion-item {
  margin-bottom: 20px;
}

.Educacion ul {
  list-style: none;
  padding: 0;
}

.Educacion li {
  font-size: 16px;
  line-height: 1.6;
}

.Educacion .educacion-item h3 {
  font-size: 20px;
}

.Educacion .educacion-item p {
  font-size: 16px;
}
.foto {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
}


.profile-picture {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
}



